<main ng-controller="PostsController as posts">

  <h2>All Posts</h2>
  <ul>
    <li ng-repeat="post in posts.posts">
      Title: {{post.title}}
      <br/>
      Body: {{post.body}}
      <br/>
      <form ng-submit="posts.deletePost(post)">
        <input type="submit" value="Delete Post">
      </form>
      <br/>
      <!-- <form ng-submit="posts.editPost(post)">
        <input type="text" ng-model="posts.editTitle" placeholder="Edit Title" value="{{post.title}}"/>
        <input type="text" ng-model="posts.editBody" placeholder="Edit Body" value="{{post.body}}"/>
        <input type="submit" value="Edit Post"/>
      </form> -->
      <div ng-controller="EditController as editCtrl">
        <form ng-submit="editCtrl.editPost()">
          <input type="text" ng-model="editCtrl.editTitle" placeholder="Edit Title" value="{{post.title}}"/>
          <input type="text" ng-model="editCtrl.editBody" placeholder="Edit Body" value="{{post.body}}"/>
          <input type="submit" value="Edit Post"/>
        </form>
      </div>

    </li>
  </ul>
  <h2>Submit a post</h2>
  <form ng-submit="posts.createPost()">
    <input type="text" ng-model="posts.newPostTitle" placeholder="Title"/>
    <input type="text" ng-model="posts.newPostBody" placeholder="Body"/>
    <input type="submit" value="Submit"/>
  </form>
</main>
